* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #0e1621;
  width: 100%;
  height: 100%;
  position: relative;
}

.ul {
  list-style: none;
}

.enter.hidden, .chat.hidden {
  display: none;
}


@import "styles/enter.scss";
@import "styles/chat.scss";
@import "styles/message.scss";
@import "styles/users.scss";
@import "styles/avatar-form.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');